.header{
    height: 70vh;
    background-image: -webkit-linear-gradient( top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) ), url(./../images/pexels-pixabay-326055.jpg);
    background-size: cover;
    @include fColEnd;
    &__section{
        @include introMob;
        padding-bottom: 0;
    }
    &__intro{
        margin-bottom: 15vh;
        @include fColCenter;
    }
    &__h2{
        font-size: 5rem;
        color: $whitePastel;
        font-weight: 400;
        text-shadow: 0.1rem 0.1rem 0 $shadow;
    }
    &__p{
        font-size: 1.5rem;
        color: $whitePastel;
        font-weight: 300;
        text-shadow: 0.1rem 0.1rem 0 $shadow;
        margin-bottom: 2rem;
        text-align: center;
    }
    &__button{
        margin: 0.5rem;
        font-weight: 300;
        &--full{
            background: $whitePastel;
            color: black;
            mix-blend-mode: screen;
        }
        &--light{
            background-color: transparent;
            border: 0.1rem solid $whitePastel;
            color: $whitePastel;
        }
    }
    &__title{
        box-shadow: 0.1rem 0rem 0 $shadow;
    }
    &__h1{
        font-family: 'Rubik', sans-serif;
        background: $whitePastel;
        color: black;
        mix-blend-mode: screen;
        border-radius: 1rem 1rem 0 0;
        font-size: 4.5rem;
        font-weight: 900;
        text-align: center;
        width: 28rem;
        height: 7rem;
        padding-top: 2rem;
    }
}
main{
    height: 600vh;
}
@media screen and (min-width: 767px){
    .header{
        &__section{
            @include introTab;
            padding-bottom: 0;
        }
    }
}


@media screen and (min-width: 1024px){
    .header{
        &__section{
            @include introDesk;
            padding-bottom: 0;
        }
     }
}