.nav{
   &__section{
       @include introMob;
       @include fColCenter;
       position: absolute;
       top: 1rem;
       left: 1rem;
       background-color: $white3;
       border-radius: 50%;
       width: 5rem;
       height: 5rem;
       box-shadow: 0.1rem 0.1rem 0 $shadow2;
   }
   &__logo{
       display: none;
   }
   &__box{
       display: none;
   }
}
.toggle{
    font-size: 4rem;
    color: $white;
    text-shadow: 0.1rem 0.1rem 0 $redPastel;
    &__open{
        display: block;
    }
    &__close{
        display: none;
    }
}
.toggle__on{
    .toggle{
        &__open{
            display: none;
        }
        &__close{
            display: block;
        }
    }
}

@media screen and (min-width: 767px){
    .nav{
        &__section{
            @include introTab;
        }
     }

}

@media screen and (min-width: 1024px){
    .nav{
        &__section{
            @include introDesk;
        }
     }
}